/* app.css
   =======

User style sheet
*/

/*------------------------------------------------------------------*/
/* local fonts */

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UbuntuMono-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/UbuntuMono-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/UbuntuMono-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: url(fonts/UbuntuMono-BoldItalic.ttf) format('truetype');
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/Roboto-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url(fonts/Roboto-BoldItalic.ttf) format('truetype');
}

/*------------------------------------------------------------------*/

tt, pre, code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
}

code {
  color: #000;
  background: #fdc;
}    

body,p,h1,h2,h3,h4,h5,h6,a,li {
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

textarea {
  //font-family: 'Ubuntu Mono', monospace;
  border: 2px solid #ccc;
}

body, p {
  font-size: 17px;
}

/*------------------------------------------------------------------*/
/* top navbar */

#header, .smart-style-3 #header {
  background: #feb;
  background-image: none;
}

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0px;
}

.text-in-topbar {
  /* put this inside a span where normally an A would be used, to make
     text in a topbar look the same as an A (but not hoverable etc) */
  display: block;
  padding: 15px 10px;
}

/*------------------------------------------------------------------*/
/* left navbar */

#left-panel, #left-panel span, #left-panel a {
}

#left-panel li {
  //border-bottom: 1px solid #a95;
}

.side-nav li {
    padding: 0px;
}

/*------------------------------------------------------------------*/
/* override jQuery UI */

.ui-widget {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*------------------------------------------------------------------*/
/* tabs */


.tabs3 {
    list-style: none;
    margin: 0px 0 0px 0;
    padding: 0 0 0px 0;
    font-size: 110%;
    line-height: 250%;

    width: 100%;

    padding-top: 1px;
}

span.tab3-not-selected, span.tab3-selected,
span.tab3-filler, span.tab3-filler-end-line {
    border: solid #777 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 2px 6px;
    white-space: nowrap;
    font-weight: bold;
    margin: 0 0 0 0;
    //float: left;
}

span.tab3-not-selected  {
    background: #e8e8e8;
}
.tabs3.tab3-not-selected a:hover {
    //text-decoration: none;
}

span.tab3-selected {
    border: solid #000;
    border-width: 2px;
    padding-top: 9px;
    //background: #fff;
    background: #e2ffe2;
    border-bottom-color: #fff;
}

span.tab3-filler, span.tab3-filler-end-line {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    padding: 2px 3px;
    white-space: normal;
}

span.tab3-filler-end-line {
    /* filler to end of current line */
    width: 100px;
}

/*------------------------------------------------------------------*/
/* override bootstrap */

hr {
  border: solid 1px #999;
}

h1 { font-size: 35px; }
h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 15px 0 5px 0;
}
h3 {
  font-size: 24px;
  margin: 13px 0 2px 0;
}
h4 {
  font-size: 20px;
  color: #000;
}
h1,h2,h3,h4 { 
  font-weight: bold;
  color: #349; 
}

h1 small,h2 small {
  font-size: 80%;
  font-weight: bold;
  color: #338;
}

label {
  margin-bottom: 0px;
}

.navbar, .navbar-brand,
.navbar-header, .navbar-header a, a.dropdown-toggle, .dropdown a,
.side-nav, .side-nav a {
  color: #fe0 !important;
  background: #039 !important;
  font-family: "Roboto";
  font-weight: bold;
}


.navbar-collapse, .navbar-inverse, .navbar-fixed-top {
  border-color: #ddd !important;
}

span.badge {
  //color: #fff;
  background: #026;
}

ul.side-nav a:hover,
a.dropdown-toggle:hover,
a.dropdown-toggle:focus,
li.dropdown a:hover
{
  background: #882 !important;
}

.nav li.active a,
.nav li.active a:hover,
.nav a.dropdown-toggle:focus
{
  color: #039 !important;
  background: #fe0 !important;
}

a.dropdown-toggle:hover span.badge,
a.dropdown-toggle:focus span.badge
{
  color: #222 !important;
  background: #fff !important;
}

ul.dropdown-menu a {
  color: #222 !important;
  background: #fff !important;
}

ul.dropdown-menu a:hover {
  color: #039 !important;
  background: #ddd !important;
}

/*------------------------------------*/
/* fix help on navbar top right */

.dropdown a {
  //padding-left: 10px !important;
  //padding-right: 10px !important;
}

.help-popup a {
  padding-right: 1px !important;
}
.help-main a {
  padding-left: 4px !important;
}

/* pagination */

.right-pagination {
  float: right;
}
.right-pagination .pagination {
  margin: 4px 0px !important;
}

.pagination li a, .pagination li.disabled a {
  border-color: #666;
}

/*-------------------- buttons */
.btn {
  font-size: 16px !important;
  font-weight: bold;
  padding: 3px 6px !important;
}
.btn-sm {
  font-size: 16px !important;
  font-weight: normal !important;
  padding: 0px 5px !important;
  border: 0 !important;
}

a { color: #36a; }
a:hover { color: #248; }

/*------------------------------------------------------------------*/
/* tables */


/*------------------------------------------------------------------*/
/* forms */


/*------------------------------------------------------------------*/
/* date/time picker */

.ui-datepicker {
  font-size: 80%;
  background: #fff;
  border: 2px solid #060;
  color: #000;
  padding: 2px;
  margin: 0px;
}

.ui-datepicker-header, .ui-datepicker-title, .ui-datepicker-month {
    padding: 0px;
    margin: 0px;
}

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 0px;
}

.ui-timepicker-div dl {
  text-align: left;
}

.ui-timepicker-div dl dt {
  float: left;
  clear:left;
  padding: 0 0 0 0px;
}

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 45%;
}

.ui-timepicker-div td {
  font-size: 80%;
  //color: #000;
  //background: #f00;
  padding: 10px;
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-timepicker-rtl{
  direction: rtl;
}

.ui-timepicker-rtl dl {
  text-align: right;
  padding: 0 5px 0 0;
}

.ui-timepicker-rtl dl dt{
  float: right;
  clear: right;
}

.ui-timepicker-rtl dl dd {
  margin: 0 45% 10px 10px;
}


/*------------------------------------------------------------------*/
/* debugging */

.debug {
  background: #feb;
  color: #630;
  padding: 2px 4px;
  border: 1px solid #a96;
  border-radius: 5px;
}

/*------------------------------------------------------------------*/

body {
  color: #000;
}

.side-nav {
  width: 170px;
}
.side-nav li, .side-nav li a { width: 170px; }
.side-nav li a {
  padding: 6px 4px 6px 10px;
  line-height: 18px;
}
#wrapper {
  padding-left: 170px;
}

.no-wrap { white-space: nowrap}

.side-nav, .side-nav a { font-size: 15px; }

a.navbar-brand {
  /* the logo */
  font-size: 20px;
  font-weight: bold;
}

.btn-warning { background: #f80; border-color: #f80; }

/*------------------------------------------------------------------*/

/* cross browser checkbox and radio size and align */
input[type=checkbox], input[type=radio] {
  vertical-align: -2px;
  margin: 0;
  padding: 0;
}

/*------------------------------------------------------------------*/

.highlight { 
    background: #ff8;
    font-weight: bold;
}    

.yes { color: #090;}
.no  { color: #900;}

/*------------------------------------------------------------------*/
/* reports and charts */

.chart-container {
    box-sizing: border-box;
    width: 850px;
    height: 400px;
    padding: 20px 15px 15px 15px;
    //margin: 15px 15px 30px 15px;
    //border: 2px solid #339;
    background: #fff;
}

.chart {
    width: 100%;
    height: 100%;
    font-size: 13px;
    line-height: 1.2em;
}

/*------------------------------------------------------------------*/

/*end */
