{# front.html
   ==========

Front page
#}
{% extends "main.html" %}

{% block body %}
<h1><i class='fa fa-star'></i> Vote Remain on 23rd May</h1>

<p>On the 23rd of May, the UK will probably be taking part in the 
European election. This will elect the 
<a href="https://en.wikipedia.org/wiki/European_Parliament">European Parliament</a> 
for the next five years.</p>

<p>In this election, we ask for you to vote for a party that supports
<b class='highlight'>remaining in the European Union</b>.</p>

<p>The more people do this, 
<b class='highlight'>the less likely Brexit is to happen</b>.
If enough people do this, 
<b class='highlight'>we kill Brexit stone dead</b>.</p>

<p><i>More details will appear on this website as they become known.</i></p>

<hr>
<h2><i class='fa fa-hashtag'></i> Useful Hashtags</h2>

<p><a href="https://twitter.com/hashtag/ABTV"><b>#ABTV</b></a> = Anti-Brexit Tactical Voting: vote for a remain party, never a leave party.</p>

<hr>

<p>
<a href="https://twitter.com/voteremain23may" class='btn btn-default'
style="color:#fe0; background:#039;"><i class='fa fa-lg fa-twitter'></i>
@voteremain23may
</a><p>


{% endblock body %}


{# end #}
