{# links.html
   ==========

Useful links
#}
{% extends "main.html" %}

{% block body %}
<h1><i class='fa fa-external-link-square'></i> Useful Links</h1>

<ul>
<li><a href="https://cabalamat.wordpress.com/">Vote Remain 23 May blog</a> 
- this website's companion blog. Get up-to-date information.</li>
<li><a href="https://www.remainvoter.com/">Remain Voter</a> 
- make your voter count in the European elections</li>
<li><a href="https://yourvotematters.eu/en/quiz/start">Your Vote Matters</a> 
- answer policy questions, get told which politicians are most similar to you.</li>
<li><a href="https://en.wikipedia.org/wiki/2019_European_Parliament_election_in_the_United_Kingdom">
European Election 2019</a> on Wikipedia</li>
<li><a href="http://britainelects.com/europarl19/">Opinion Polls</a> on Britain Elects</li>
<li><a href="https://www.gov.uk/register-to-vote">Register to Vote</a></li>
</ul>

<h2><i class='fa fa-hashtag'></i> Useful Hashtags</h2>

<p><a href="https://twitter.com/hashtag/ABTV"><b>#ABTV</b></a> = Anti-Brexit Tactical Voting: vote for a remain party, never a leave party.</p>

<hr>

<p><a href="https://twitter.com/voteremain23may" class='btn btn-default'
style="color:#fe0; background:#039;"><i class='fa fa-lg fa-twitter'></i>
@voteremain23may
</a><p>


{% endblock body %}


{# end #}
