{# polls.html
   ==========

Polls
#}
{% extends "main.html" %}

{% block body %}
<h1><i class='fa fa-bar-chart'></i> Opinion Polls</h1>

<p>The data in these opinion polls is from <a 
href="https://en.wikipedia.org/wiki/2019_European_Parliament_election_in_the_United_Kingdom#National_poll_results">Wikipedia</a>.
I've removed SNP and PC, because they only stand in Scotland and Wales
respectively, so their share of the national poll is meaningless.</p>

{{table}}

<h2>Graph With Trend</h2>

<p>Party Strengths: <b>{{partyLegend}}</b></p>

<div class="chart-container">
  <div id="pollChart" class="chart"></div>
  <div class='flot-x-axis flot-x1-axis'>
    <div class='flot-tick-label'>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      Days to election
      <i class='fa fa-long-arrow-right'></i>
    </div>
  </div>
</div>  

{% endblock body %}

{% block atend %}
<script src="/static/flot/jquery.flot.js"></script>
<script src="/static/flot/jquery.flot.symbol.js"></script>

<script  src="/static/flot/jquery.js"></script>
<script  src="/static/flot/jquery.canvaswrapper.js"></script>
<script  src="/static/flot/jquery.colorhelpers.js"></script>
<script  src="/static/flot/jquery.flot.js"></script>
<script  src="/static/flot/jquery.flot.saturated.js"></script>
<script  src="/static/flot/jquery.flot.browser.js"></script>
<script  src="/static/flot/jquery.flot.drawSeries.js"></script>
<script  src="/static/flot/jquery.flot.errorbars.js"></script>
<script  src="/static/flot/jquery.flot.uiConstants.js"></script>
<script  src="/static/flot/jquery.flot.logaxis.js"></script>
<script  src="/static/flot/jquery.flot.symbol.js"></script>
<script  src="/static/flot/jquery.flot.flatdata.js"></script>
<script  src="/static/flot/jquery.flot.navigate.js"></script>
<script  src="/static/flot/jquery.flot.fillbetween.js"></script>
<script  src="/static/flot/jquery.flot.stack.js"></script>
<script  src="/static/flot/jquery.flot.touchNavigate.js"></script>
<script  src="/static/flot/jquery.flot.hover.js"></script>
<script  src="/static/flot/jquery.flot.touch.js"></script>
<script  src="/static/flot/jquery.flot.time.js"></script>
<script  src="/static/flot/jquery.flot.axislabels.js"></script>
<script  src="/static/flot/jquery.flot.selection.js"></script>
<script  src="/static/flot/jquery.flot.composeImages.js"></script>
<script  src="/static/flot/jquery.flot.legend.js"></script>

<script>
$(function() {

$.plot("#pollChart", 
   {{chartData}},
   {{chartOptions}}
);
    
});
</script>
{% endblock atend %}

{# end #}
