{# regions.html
   ============

Regions
#}
{% extends "main.html" %}

{% block body %}
<h1><i class='fa fa-map-marker'></i> Regions</h1>
<div style="float: right; margin-right:2%; 
            border: 2px solid #888; 
            padding: 10px">
    <img src="/static/UK_European_Parliament_constituencies-300.png"><br>
    <p><b>European Parliamentary Regions</b></p>
</div>

<p>For the European election, the UK is divided up into 12 large electoral regions, each of which elects between 3 and 10 members.</p>

<p>Going roughly from North to South and East to West, we have:</p>

{{table}}


{% endblock body %}


{# end #}
